<div class="container">
    <h2 class="animated-title">Conversor de JSON para CSV</h2>
    <form (submit)="convertJsonToCsv(jsonInput)">
        <img src="assets/json_icon.png">
        
        <label for="jsonInput"><h3>JSON:</h3></label>
        <textarea id="jsonInput" [(ngModel)]="jsonInput" [ngModelOptions]="{standalone: true}" placeholder="Insira o JSON aqui..."></textarea>
                
        <button type="submit" class="btn btn-primary">Converter</button>
        <button type="button" class="btn btn-warning" (click)="clearTextareas()">Limpar</button>
        
        <img src="assets/csv_icon.png">

        <label for="csv"><h3>CSV:</h3></label>
        <textarea id="csv" [(ngModel)]="csv" [ngModelOptions]="{standalone: true}"></textarea>
        
        <p class="alert alert-success" [hidden]="!showSuccess">{{apiMessage}}</p>
        <p class="alert alert-danger" [hidden]="!showDanger">{{apiMessage}}</p>
    </form>

</div>