img{
    display: block;
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

form{
    width: 600px;
    margin: 30px auto;
    text-align: center;
    background-color: #f8f9fa7e;
    padding: 20px;
    border: 1px solid #ddddddce;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea{
    padding: 10px;
    display: block;
    margin: 20px auto;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

textarea:focus{
    box-shadow: 2px 4px 10px rgba(74,144,226, 0.5);
    background: #ffffff;
}

button{  
    display: inline-block;
    margin-right: 10px;
}

button.btn-primary {
    background-color: #0369d6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button.btn-primary:hover {
    background-color: #007bff;
    scale: 1.05;
}
  
button.btn-warning {
    color: #070707;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button.btn-warning:hover {
    background-color: #ffe600;
    scale: 1.05;
}

label{
    display: block;
    margin: 20px auto;
}

#jsonInput {
    width: 500px;
    height: 200px;
}
  
#csv {
    width: 500px;
    height: 200px;
}

h2{
    text-align: center;
    color: #007bff;
}

.animated-title{
    font-size: 30px; /* Tamanho inicial */
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(84, 212, 255), rgb(2, 2, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fontPulse 2s infinite ease-in-out, gradientShift 3s infinite linear;
}

@keyframes fontPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes gradientShift {
    0% {            
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;        
    }
}

